<div class="container">
    <div class="text">
       <h2 class="text-capitalize text-info text-center">my new thumbnails</h2>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
           <img src="https://picsum.photos/200/300" class="w-100"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
           <img src="https://picsum.photos/200/300/?blur" class="w-100 mt-2"/>
           <img src="https://picsum.photos/200/300.jpg" class="w-100 mt-2"/>
        </div>
    </div>
</div>